<div class="d-flex justify-content-center container">
    <div class="col-md-10 col-12 text-center post-container container-fluid d-flex flex-column align-items-center">
        <h2>{{name}}</h2>
        <p>{{content}}</p>
        <p>Created by {{user.name}} on {{format_date date_created}}</p>
    </div>
</div>