body {
    background-color: #f8f9fa;
}

a {
    color: rgb(255, 198, 255);
    text-decoration: none;
}

a:hover {
    color: rgb(211, 143, 211);
}

.project {
    padding: 8px 2px 2px 2px;
    background-color: rgb(129, 129, 129);
    border-radius: 10px;
}

.input-fields .form-group {
    padding-right: 28%;
}

.login-card, .signup-card {
    background-color: rgb(129, 129, 129);
    padding-top: 20px;
    padding-bottom: 12px;
}

.login-button, .signup-button {
    background-color: rgb(255, 198, 255);
}

@media screen and (max-width: 576px) {
    body {
        background-color: rgb(129, 129, 129);
    }
}

@media screen and (max-width: 400px) {
    .input-fields .form-group {
        padding-right: 18%;
    }
}