:root {
    --grey-background: rgb(122, 122, 122);
}

body {
    background-color: #f8f9fa;
}

input, label {
    display: block;
}

label {
    text-align: center;
}

a {
    color: rgb(255, 198, 255);
    text-decoration: none;
}

a:hover {
    color: rgb(211, 143, 211);
}

.project {
    padding: 8px 2px 2px 2px;
    background-color: var(--grey-background);
    border-radius: 10px;
}

.input-fields .form-group {
    padding-right: 28%;
}

.login-card, .signup-card {
    background-color: var(--grey-background);
    padding-top: 20px;
    padding-bottom: 12px;
    border-radius: 15px;
    margin-top: 16px;
}

.login-button, .signup-button {
    background-color: rgb(255, 198, 255);
}

.profile-heading {
    background-color: var(--grey-background);
    color: rgb(255, 198, 255);
    border-radius: 8px;
}

.profile-heading h2 {
    margin-top: 6px;
}

textarea {
    margin: 0 8px;
}

.new-post, .post-list {
    background-color: var(--grey-background);
    border-radius: 8px;
    padding-top: 12px;
    margin: 12px 8px;
    color: white;
}

.new-post h3 {
    color: rgb(255, 198, 255);
}

.new-post-button {
    background-color: rgb(255, 198, 255);
    color: black;
}

.new-post-button:hover {
    background-color: rgb(255, 198, 255);
    color: black;
}

.singular-post {
    background-color: rgb(255, 198, 255);
    border-radius: 6px;
}

.singular-post a {
    color: black;
}

.singular-post h4 {
    margin: 0;
}

.post-container {
    background-color: var(--grey-background);
    border-radius: 8px;
    padding: 20px 24px;
    color: white;
}

.post-container h2 {
    background-color: rgb(255, 198, 255);
    border-radius: 8px;
    padding: 2px 20px 6px 20px;
    color: var(--grey-background);
}

.post-content-container {
    background-color: #f8f9fa;
    margin: 4px 0 16px 0;
    color: var(--grey-background);
    padding: 8px 20px;
    border-radius: 8px;
    font-weight: 500;
}

.post-content-p {
    font-size: 22px;
    font-weight: 500;
}

@media screen and (max-width: 400px) {
    .input-fields .form-group {
        padding-right: 18%;
    }
}